@import "../src/app/config-scss/remc-calc.scss";
@import "../src/app/config-scss/reset.scss";
@import "../src/app/config-scss/variables.scss";
html {
  font-family: "Roboto", sans-serif;
}
body {
  background: url(./assets/bg/bg.jpg);
  background-repeat: no-repeat;
}
